* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    padding-left: 23vh;
    padding-right: 23vh;
}

header {
    height: 25vh;
    text-align: center;
    font-size: 20px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 6vh;
    font-size: 4vh;
    color: rgb(202, 2, 202);
}

.hdes {
    margin-top: 2vh;
}